{{>partials/header}}
    
Formulário de contato: <br>
<input type="text" placeholder="Nome:" required> <br>
<textarea cols="30" rows="10" placeholder="Pergunte-nos alguma coisa!"></textarea> <br>
<input type="submit" value="Enviar">

{{>partials/footer}}